/* 폰트설정 */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=East+Sea+Dokdo&display=swap');


/* 여백 초기화 */
*{margin: 0;padding: 0;box-sizing: inherit;}


body {
  margin: 0;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
